
*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: "微软雅黑";
	font-size: 16px;
	margin: 0;
}
a{
	text-decoration: none;
	color: #fff;
}
.header{
	width: 100%;
	height: 86px;
	background: url(../images/top.jpg) repeat-x;
}
.header_in{
	width: 980px;
	height: 0 auto;
	position: relative;
}
.header_in .left{
	position: absolute;
	left: 0;
	top: 5px;
}
.header_in .right{
	position: absolute;
	right: 78px;
	top: 13px;
}
.nav{
	width: 980px;
	height: 74px;
	margin: 0 auto;
	padding-left: 80px;
	background: url(../images/navbg.png) no-repeat;
}
.nav ul li{
	float: left;
	line-height: 45px;
	width: 100px;
	height: 48px;
	text-align: center;
}
.nav ul li a{
	display: block;
	width: 100px;
	height: 48px;
}
.nav ul li:hover{
	background: url(../images/pic03.png) no-repeat;
}
.nav ul li.last{
	background: url(../images/pic03.png) no-repeat;
}
.banner2{
	width: 980px;
	height: 330px;
	margin: 0 auto;
	background: url(../images/banner2.jpg) no-repeat;
}
.sticky{
	position: sticky;
	top: 0;
	padding: 5px;
	float:right;
}
.content{
	width: 980px;
	height: 2300px;
	margin: 0 auto;
	background: #f5f5f5;
}
.content .a{
	color: #00AA98;
}
.content .b{
	color: #333;
}
.content .more{
	margin: 0 auto;
	text-align: center;
}
